.social-icons {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.social-icons a:hover {
  background-color: #00b7b7;
}
