.sightings-header h1 {
  margin: 0 auto;
  font-size: 25px;
  color: black;
  padding-top: 20px;
  text-align: center;
  font-family: sans-serif;
}

.sightings-header h2 {
  padding-top: 30px;
  margin: 0;
  font-size: 26px;
  color: #000000;
}

.filter-section {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  flex-wrap: wrap;
  padding: 10px;
}

.filter-btn {
  min-width: 120px;
  padding: 12px 20px;
  margin: 6px;
  border: none;
  font-weight: bold;
  border-radius: 25px;
  background-color: teal;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
  text-align: center;
}

.filter-btn:hover {
  background-color: #00b7b7;
}

.filter-btn-active {
  background-color: #00b7b7;
  color: white;
  border-color: white;
  font-weight: bold;
}

.map-wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  padding: 20px 10px;
  background-color: white;
}
@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp 0.6s ease-out forwards;
}

.map-wrapper .leaflet-container {
  height: 400px;
  width: 80%;
  border-radius: 0px;
}
@media (max-width: 768px) {
  .leaflet-container {
    height: 400px;
    width: 95%;
    border-radius: 0px;
  }

  .filter-btn {
    min-width: 100px;
    padding: 8px 8px;
    margin: 6px;
    border: none;
    font-weight: bold;
    border-radius: 25px;
    background-color: teal;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
    text-align: center;
  }
}
